<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(function(){
            $(':input:eq(0)').click(function () {
                $.ajax({
                    url:'/article/showAllArticle',
                    type:'get',
                    dataType:'json',
                    success: function (datas) {
                        var tbhtml = "<tr><th>id</th><th>article_title</th><th>article_content</th><th>master_id</th></tr>"
                         for(var i = 0; i<datas.length; i++){
                              tbhtml+="<tr><td>"+datas[i].result.id+"</td><td>"+datas[i].result.articleTitle+"</td><td>"+datas[i].result.articleContent+"</td><td>"+datas[i].result.masterId+"</td></tr>"
                         }
                         $('table:eq(0)').html(tbhtml);
                    }
                })
            })
        })
    </script>

</head>
<body>
    <div>
        <table border="1px solid">
             <tr>
                 <th>id</th>
                 <th>article_title</th>
                 <th>article_content</th>
                 <th>master_id</th>
             </tr>
        </table>
        <input type="button" value="加载数据">
    </div>
local dev modified!!!
</body>
</html>