<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Title</title>
    <script th:inline="javascript">
        function showMasterMessage() {
            document.getElementById("master_id").innerHTML = "Thymeleaf String by JS:"+ [[${master_id}]];
            document.getElementById("master_name").innerHTML = "Thymeleaf String by JS:"+ [[${master_name}]];
        }

    </script>

</head>
<body>
    <p th:text="${master_id}">test</p>
    <p th:text="${master_name}">test</p>
    <p id="master_id"></p>
    <p id="master_name"></p>
    <button onclick="showMasterMessage()">显示</button>
</body>
</html>